/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.form-control:focus {
  border-color: #0077cc;
  outline: black auto 1px;
  box-shadow: none;
}

.form-check-input:focus {
  border-color: #0077cc;
  box-shadow: none;
  outline: black auto 1px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-primary:focus {
  box-shadow: none;
  outline: black auto 1px;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

code {
  color: #e01a76;
}
